{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Geek Room - {{ nome_sala_json }}</title>

    {% bootstrap_css %}
</head>
<body>
    <div class="container">
         <div class="card">
            <div class="card-body">
                <textarea id="sala" class="form-control" cols="70" rows="15"></textarea><br />
                <input id="message" class="form-control" type="text" size="100"><br />
                {% bootstrap_button "Enviar Mensagem" id="botaoSend" button_class="btn btn-primary" button_type="button" %}
            </div>
         </div>
    </div>
    <script>
        var nome_sala = {{nome_sala_json}};
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + nome_sala + '/'
        );

        chatSocket.onmessage = function(e) {
            var dados = JSON.parse(e.data);
            var mensagem = dados['mensagem'];
            document.querySelector('#sala').value += (mensagem + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('O Chat encerrou de forma inesperada');
        };

        document.querySelector("#message").focus();
        document.querySelector("#message").onkeyup = function(e) {
            if(e.keyCode == 13){
                document.querySelector('#botaoSend').click();
            }
        };

        document.querySelector("#botaoSend").onclick = function(e) {
            var mensagemInput = document.querySelector("#message");
            var mensagem = mensagemInput.value;
            chatSocket.send(JSON.stringify({
                'mensagem': mensagem
            }));
            mensagemInput.value = "";
        };
    </script>
</body>
</html>
